@charset "utf-8";
/* CSS Document */

html {
  --paper: #fdfdfd;
  --light-paper: white;
  --gray-paper: #eee;
  --ink: #333;
  --light-ink: #444;
  --soft-ink: #666;
  --inverse-ink: #aaa;
  --shadow: #ccc;
  --dark: #252831;
  --accent: #2d5dca;
  --link: #0275d8;
  --soft-accent: #66bbff;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: var(--ink);
	line-height: 1.5;
}
body {
	background-color: var(--paper);
	margin: 0;
	position:relative;
}

img, embed, object, video {
  max-width: 100%;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: var(--ink);
}
a {
	color: var(--accent);
	text-decoration: none;
}
  a:hover, a:focus {
	color: var(--link);
	text-decoration: none;
}
a img{
	border: none 0px var(--paper);
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  display: grid;
  grid-template-columns: 1fr;
}

#footer {
  background-color: var(--light-ink);
  color: var(--gray-paper);
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: var(--soft-accent);
}

/* ====================== Navigation ====================== */

body > header h1 {
  padding: 1rem;
  background-color: var(--dark);
  text-align:center;
  margin: auto;
  line-height: 2em;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

body > header h1 a {
  color: var(--paper);
}

#breadcrumb {
    padding: 1em;
    list-style: none;
    background-color: var(--gray-paper);
    font-size: 16pt;
    margin: 0;
    line-height: 1;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: unset;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: var(--ink);
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: var(--link);
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 30rem;
  width: 100%;
  background-color: var(--gray-paper);
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: var(--soft-accent);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  justify-items: stretch;
}
.filter-options h2 {
  color: var(--paper);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: var(--paper);
  border: 1px solid var(--paper);
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 2.5em;
  padding: 0 0.6em;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  list-style: outside none none;
  padding: 0;
  margin: 0.8rem;
  grid-gap: 0.8rem;
}
#restaurants-list li {
  background-color: var(--light-paper);
  font-family: Arial,sans-serif;
  text-align: left;
  border-radius: 3px;
  box-shadow: 3px 3px 6px 0 var(--shadow);
}
#restaurants-list .restaurant-img {
  background-color: var(--gray-paper);
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list li h1 {
  color: var(--accent);
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  line-height: 1.3;
  margin: 1rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0 1rem;
  line-height: 1.3rem;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: var(--accent);
  border-bottom: 3px solid var(--gray-paper);
  color: var(--paper);
  display: inline-block;
  font-size: 10pt;
  margin: 1rem;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside main {
  padding-top: calc(3.6rem + 26pt);
}

.inside #map-container {
  height: 60vh;
}
.inside #map {
  background-color: var(--gray-paper);
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: var(--accent);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 1rem;
}
#restaurant-img {
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;  
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: var(--ink);
  color: var(--paper);
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.3rem;
  margin-top: 0;
  border-radius: 0.5rem;
}

#restaurant-container, #reviews-container {
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
  border-bottom: 1px solid var(--shadow);
}

#restaurant-hours td {
  color: var(--soft-ink);
}


/* ====================== Restaurant Reviews ====================== */
#reviews-container h2 {
  color: var(--accent);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-container article {
  font-size: 12pt;
  background-color: var(--light-paper);
  border: 2px solid var(--gray-paper);
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;    
  margin: 0 0 2em;
}

#reviews-container article header {
  background-color: var(--ink);
  border-top-left-radius: 24px;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review-author {
  color: var(--paper);
  font-size: 16pt;
  align-self: center; 
}

.review-date {
  color: var(--gray-paper);
  justify-self: end; 
  align-self: center; 
}

.review-rating {
  background-color: var(--accent);
  border-radius: 0.3em;
  font-weight: bold;
  color: var(--paper);
  padding: 0.5em 1em;
  display: table;
  text-transform: uppercase;
  margin: 1em;
}

#reviews-container article p {
  margin: 1em;
  font-size: 12pt;  
}

/* Small mobile devices*/
@media screen and (max-width: 374px) {
  body > header h1 {
    font-size: 11pt;
  }
  
  .inside main {
    padding-top: calc(3.6rem + 20pt);
  }
}

@media screen and (min-width: 900px) {
  .inside #maincontent {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .inside #map-container {
    grid-column: 2;
    grid-row: 1 / 3;
    height: 100vh;
  }

  .inside #restaurant-container {
    grid-row: 1;
    padding: 1.5rem;
  }

  #restaurant-name {
    margin-top: 3.6rem;
  }
}