@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

img, embed, object, video {
  max-width: 100%;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f3f3f3;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

body > header nav {
  padding: 1rem;
  background-color: #252831;
  text-align:center;
}

body > header nav h1 {
  margin: auto;
  line-height: 2em;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

body > header nav h1 a {
  color: #fff;
}

#breadcrumb {
    padding: 1em;
    list-style: none;
    background-color: #eee;
    font-size: 16pt;
    margin: 0;
    line-height: 1;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: unset;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 30rem;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #3397DB;
  text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 2.5em;
  margin: 1rem;
  padding: 0 0.6em;
  width: 14rem;
  display: -webkit-inline-box;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 0;
  margin: 0.8rem;
  grid-gap: 0.8rem;
}
#restaurants-list li {
  background-color: #fff;
  xborder: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  border-radius: 3px;
  box-shadow: 3px 3px 6px 0 #ccc;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  line-height: 1.3;
  margin: 1rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0 1rem;
  line-height: 1.3rem;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 1rem;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside main {
  padding-top: calc(3.6rem + 26pt);
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 60vh;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;  
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #eee;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.3rem;
  margin-top: 0;
  border-radius: 0.5rem;
}

#restaurant-container, #reviews-container {
  max-width: 30rem;
  margin: auto;
  padding: 1rem;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

#restaurant-hours td {
  color: #666;
}


/* ====================== Restaurant Reviews ====================== */
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-container article {
  font-size: 12pt;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;    
  margin: 0 0 2em;
}

#reviews-container article header {
  background-color: #252831;
  border-top-left-radius: 24px;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review-author {
  color: #fff;
  font-size: 16pt;
  align-self: center; 
}

.review-date {
  color: #eee;
  justify-self: end; 
  align-self: center; 
}

.review-rating {
  background-color: #f58500;
  border-radius: 0.3em;
  font-weight: bold;
  color: #f8f8f8;
  padding: 0.5em 1em;
  display: table;
  text-transform: uppercase;
  margin: 1em;
}

#reviews-container article p {
  margin: 1em;
  font-size: 12pt;  
}

/* Small mobile devices*/
@media screen and (max-width: 374px) {
  nav h1 {
    font-size: 11pt;
  }
  
  .inside main {
    padding-top: calc(3.6rem + 20pt);
  }
}

@media screen and (min-width: 900px) {
  .inside #maincontent {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .inside #map-container {
    grid-column: 2;
    grid-row: 1 / 3;
    height: 100vh;
    background-color: #0275d8;
  }

  .inside #restaurant-container {
    grid-row: 1;
    padding: 1.5rem;
  }

  #restaurant-name {
    margin-top: 3.6rem;
  }
}