html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --paper: #fdfdfd;
  --light-paper: white;
  --gray-paper: #eee;
  --ink: #333;
  --light-ink: #444;
  --soft-ink: #666;
  --inverse-ink: #aaa;
  --shadow: #ccc;
  --dark: #252831;
  --accent: #2d5dca;
  --accent-over-dark: yellow;
  --soft-accent: #66bbff;
}

body, td, th, p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: var(--ink);
  line-height: 1.5;
}

body {
  background-color: var(--paper);
  margin: 0;
  position: relative;
}

img, video {
  max-width: 100%;
  border-style: none;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: var(--ink);
}

a {
  color: var(--accent);
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--accent);
  text-decoration: none;
}

a img {
  border: none 0px var(--paper);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

#maincontent {
  display: grid;
  grid-template-columns: 1fr;
}

.hidden {
  display: none;
}

/* ====================== Navigation ====================== */

body>header h1 {
  padding: 1rem;
  background-color: var(--dark);
  text-align: center;
  margin: auto;
  line-height: 2em;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

body>header h1 a {
  color: var(--paper);
}

body>header h1 a:focus, a:hover {
  color: var(--accent-over-dark);
}

#footer {
  background-color: var(--light-ink);
  color: var(--gray-paper);
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: var(--soft-accent);
}

/* ====================== Map ====================== */

#map {
  height: 480px;
  width: 100%;
  background-color: var(--gray-paper);
}

/* ====================== Small mobile devices ====================== */

@media screen and (max-width: 374px) {
  body>header h1 {
    font-size: 11pt;
  }
}

/* ====================== From normalize.css ====================== */

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* ====================== Custom favorite checkbox ====================== 
   Based on: https://medium.com/@robdel12/creating-an-accessible-custom-checkbox-64bd87b5c195 
   Icons from: https://material.io/tools/icons
*/

span.favorite {
  background-image: url('../icons/favorite-off.svg');
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 0px;
  margin: 1rem;
  align-self: end;
}

span.favorite[aria-checked=true] {
  background-image: url('../icons/favorite-on.svg');
}