/* ====================== Main map ====================== */

.mainMap {
  background-image: url(../map/map640.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 640px) {
  .mainMap {
    background-image: url(../map/map800.jpg);
  }
}

@media screen and (min-width: 800px) {
  .mainMap {
    background-image: url(../map/map1024.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .mainMap {
    background-image: url(../map/map1280.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .mainMap {
    background-image: url(../map/map1366.jpg);
  }
}

@media screen and (min-width: 1366px) {
  .mainMap {
    background-image: url(../map/map1920.jpg);
  }
}

@media screen and (min-width: 1920px) {
  .mainMap {
    background-image: url(../map/map2560.jpg);
  }
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  background-color: var(--soft-accent);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  justify-items: stretch;
}

.filter-options h2 {
  color: var(--paper);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: var(--paper);
  border: 1px solid var(--paper);
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 2.5em;
  padding: 0 0.6em;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  list-style: outside none none;
  padding: 0;
  margin: 0.8rem;
  grid-gap: 0.8rem;
}

#restaurants-list li {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--light-paper);
  font-family: Arial, sans-serif;
  text-align: left;
  border-radius: 3px;
  box-shadow: 3px 3px 6px 0 var(--shadow);
}

#restaurants-list .restaurant-img {
  background-color: var(--gray-paper);
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list .empty-picture {
  background-color: var(--inverse-ink);
  padding-top: 75%;
  position: relative;
}

#restaurants-list li h3 {
  color: var(--accent);
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  line-height: 1.3;
  margin: 1rem;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0 1rem;
  line-height: 1.3rem;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: var(--accent);
  border-bottom: 3px solid var(--gray-paper);
  color: var(--paper);
  display: inline-block;
  font-size: 10pt;
  margin: 1rem;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li .head-container {
  display: grid;
  grid-template-columns: 1fr auto;
}