/* ====================== Navigation ====================== */

#breadcrumb {
  padding: 1em;
  list-style: none;
  background-color: var(--gray-paper);
  font-size: 16pt;
  margin: 0;
  line-height: 1;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
  font-size: unset;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: var(--ink);
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: var(--accent);
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */

.inside>header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside main {
  padding-top: calc(3.6rem + 26pt);
}

.inside #map-container {
  height: 60vh;
}

.inside #map {
  background-color: var(--gray-paper);
  height: 100%;
  width: 100%;
}

#restaurant-name-container {
  display: grid;
  grid-template-columns: 1fr auto;
}

span.favorite {
  margin-bottom: 1.5rem;
}

#restaurant-name {
  color: var(--accent);
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 1rem;
}

#restaurant-img {
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: var(--ink);
  color: var(--paper);
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.3rem;
  margin-top: 0;
  border-radius: 0.5rem;
}

#restaurant-container, .box-container {
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}

#restaurant-hours td {
  color: var(--soft-ink);
}

/* ====================== Restaurant Reviews ====================== */

.box-container h3 {
  color: var(--accent);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.box-container article {
  font-size: 12pt;
  background-color: var(--light-paper);
  border: 2px solid var(--gray-paper);
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  margin: 0 0 2em;
}

.box-container article header {
  background-color: var(--ink);
  border-top-left-radius: 24px;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review-author {
  color: var(--paper);
  font-size: 16pt;
  align-self: center;
}

#review-form-title {
  color: var(--paper);
  font-size: 16pt;
  align-self: center;
  grid-column-end: span 2;
}

.review-date {
  color: var(--gray-paper);
  justify-self: end;
  align-self: center;
}

.review-rating {
  background-color: var(--accent);
  border-radius: 0.3em;
  font-weight: bold;
  color: var(--paper);
  padding: 0.5em 1em;
  display: table;
  text-transform: uppercase;
  margin: 1em;
}

.box-container {
  width: 100%;
}

.box-container article p {
  margin: 1em;
  font-size: 12pt;
}

.box-container form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
  margin: 1em;
  font-size: 12pt;
}

.box-container .wide {
  grid-column: 1 / 3;
}

.box-container textarea {
  width: 100%;
}

.box-container button {
  margin: 0 0 1em 1em;
  font-size: 12pt;
}

@media screen and (max-width: 374px) {
  .inside main {
    padding-top: calc(3.6rem + 20pt);
  }
}

@media screen and (min-width: 900px) {
  .inside #maincontent {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .inside #map-container {
    grid-column: 2;
    grid-row: 1 / 3;
    height: 100vh;
  }
  .inside #restaurant-container {
    grid-row: 1;
    padding: 1.5rem;
  }
  #restaurant-name {
    margin-top: 3.6rem;
  }
}